* {
  margin: 0;
  padding: 0;
}

#wrap {
  background-color: rgb(235, 226, 226);
  background: url(/src/images/background.jpg);
  width: 100vw;
  min-height: 100vh;
}

#center {
  background-color: black;
  opacity: 0.3;
  width: 75%;
  float: left;
  min-height: 100vh;
}

#right {
  background-color: red;
  opacity: 0.3;
  width: 25%;
  float: right;
  min-height: 100vh;
}

/* #top {
  background-color: blue;
  width: 100%;
}

#bottom {
  background-color: blueviolet;
  width: 100%;
} */

/* #wrap {
  position: relative;
}

#center {
  position: absolute;
  background-color: rgba(74, 66, 66);
  width: 75%;
  float: left;
  min-height: 100vh;
}

#right {
  position: absolute;
  background-color: rgba(219, 209, 209, 1);
  width: 25%;
  float: right;
  min-height: 100vh;
}

#top {
  background-color: blue;
  width: 100%;
}

#bottom {
  background-color: brown;
  width: 100%;
} */
